.App {
  text-align: center;
}
.itemlist {
  border: solid 1px #ddd;
  padding: 10px;
  height: 450px;
  width: 100%;
  margin: 40px auto 0 auto;
  background-color: white;
}

.itemlist > div    {
  display: flex;
  flex-direction: column;
  height: 400px;
}